/* styles.css */
#progress-bar-container {
    border: 1px solid #135e96;
    border-radius: 20px;
    padding: 4px;
    margin: 20px 40px;
    text-align: center;
    width: 400px;
}

#success-message {
    margin: 0 40px;
    text-align: center;
    width: 400px;
    font-size: 20px;
    line-height: 1;
    font-weight: 500;
    margin: 0 40px;
}

#progress-bar {
    width: 0%;
    height: 20px;
    background-color: #135e96;
    border-radius: 20px;
}
